################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/%HOMEDRIVE%%HOMEPATH%/.cache/fontconfig
